/* You can add global styles to this file, and also import other style files */
$orange: #f05003;
$grey: #252525;
$body-color: #121314;
$scrollbar-color: #333333;
$scrollbar-track-color: #212225;



@media only screen and (max-width: 1281px) {
    nav {
      width: 15vw!important
    }
    main {
        width: 83vw!important;
    }

}


body {
    background-color: #121314;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    display: block;
    width: 100%;
    height: 60px;
    border-top: 2px solid $orange;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: $body-color;
    -webkit-box-shadow: 0px 1px 6px 3px black;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 1px 6px 3px black;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 1px 6px 3px black;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

footer {
    display: block;
    width: 100%;
    height: 50px;
    border-top: 2px solid $orange;
    position: fixed;
    top: calc(100vh - 50px);
    left: 0;
    z-index: 9999;
    background-color: $grey;
}

nav {
    display: inline-block;
    width: 10vw;
    height: calc(100% - 60px);
    position: fixed;
    top: 60px;
    left: 0px;
    z-index: 9998;
    background-color: $grey;
    border-right: 3px solid black;;
    transition-duration: 0.08s;
}

main {
    display: inline-block;
    width: 88vw;
    height: calc(100vh - 120px);
    margin-top: 60px;
    float: right;
    padding: 1vw;
    overflow-y: scroll;
    transition-duration: 0.08s;
    /* width */
}

main::-webkit-scrollbar {
    width: 13px;
}



/* Track */
main::-webkit-scrollbar-track {
    background: $scrollbar-track-color
}

/* Handle */
main::-webkit-scrollbar-thumb {
    background: $scrollbar-color
}

/* Handle on hover */
main::-webkit-scrollbar-thumb:hover {
    background: #555;
}
