<nav>
    <section class="user-profile">
        <div class="user-profile-avatar">
            
        </div>
        <div class="user-profile-name">
            <p> Luka Qantaria </p>
        </div>
    </section>
    <section class="main-section">
        <div class="main-section-header">
            <h1> MAIN </h1>
        </div>
        <div id="a"class="main-section-div main-section-content">
            <h1 id="b"> Top 50 </h1>
        </div>
        <div id="a"class="main-section-div main-section-content">
            <h1 id="b"> Stream </h1>
        </div>
        <div id="a"class="main-section-div main-section-content">
            <h1 id="b"> Likes </h1>
        </div>
        <div id="a"class="main-section-div main-section-content">
            <h1 id="b"> Tracks </h1>
        </div>
        <div id="a"class="main-section-div main-section-content">
            <h1 id="b"> Playlist </h1>
        </div>
    </section>
</nav>
